


.modal__overlay {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/background_thanhtoan.jpg);
    background-position: center;
	background-size: cover;
	/*background-attachment: fixed;*/
	position: absolute;
}

.modal__body {
    width: 500px;
	height: 496px;
	position: relative;
	/* margin: 6% auto; */
	/* background: #fff; */
	/* padding: 5px; */
}

.auth-form {
    position: absolute;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: .4s;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    margin-bottom: 40px;
}
.auth-form__group {
    position: relative;
    margin-bottom: 20px;
}
.auth-form__group i {
    position: absolute;
    top: 30px;
    right: 6px;
    font-size: 1.5rem;
    visibility: hidden;
}
.auth-form__group small {
    position: absolute;
    visibility: hidden;
    bottom: -26px;
    left: 4px;
    font-size: 1.3rem;
}

.auth-form__group.error small {
    visibility: visible;
    color: #e74c3c;
}

.auth-form__group.success input {
    border-color: #2ecc71;
}
.auth-form__group.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.auth-form__group.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}
.auth-form__group.error input {
    border-color: #e74c3c;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    margin: 0;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.auth-form__socials {
    background-color: #e5e2e2;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}
.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
 
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__socials--title {
    margin: 0 36px;
}   

/* Login form ---------------------------in header-*/
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: 1px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}
/* #register {
    left: 500px;
}
#login {
    left: 0;
} */
.none_decoration {
    text-decoration: none;
}