
/* -----------------------Css for header--------------------------------------------- */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#e64545,#d60c0c);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 4px 0 0 0;

}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;

}


.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 11;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;

}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
    /* background-color: red; */
}

.header__navbar-user-menu::before {
    content: "";
    /* display: block; */
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top:-29px;
}

.header__navbar-user-item {

}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--hasNotify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    /* width: 1px;
    background-color: #fff; */
    height: 14px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-poiter {
    cursor: text;
    color: var(--white-color);
}

/* Header QR ------------------------------*/
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -10px;
}
.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}
/* Header Notification --------------------------------*/
.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    width: 404px;
    border-radius: 2px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrow ease-in 0.2s;
    will-change: opacity transform;
    display: none;
}

.header__notify::before {
    content: "";
    /* display: block; */
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top:-29px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 16px;
    right: 0;
    top: -14px;
}

@keyframes headerNotifyGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    cursor: text;
    line-height: 40px; 
}

.header__notify-list {
    padding-left: 0;
}
.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f8f5f5;
}

.header__notify-item--viewed {
    background-color: rgba(230, 69, 69,0.08);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
 
    width: 100%;
}

.header__notify-img {
    width: 48px;
    /*  fix chiều cao bức ảnh */
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;

}

/* Footer của notification ------------------------ in header---*/

.header__notify-footer {
    /* display: flex;     */
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    text-align: center;
}

/* Authen Modal ----------------------------- in header- */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.auth-form__socials {
    background-color: #e5e2e2;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}
.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
 
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__socials--title {
    margin: 0 36px;
}   

/* Login form ---------------------------in header-*/
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: 1px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search ---------------------------in header-*/
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
    height: 60px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
    /* Cart----------------------------------------- in header */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    z-index: 10;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}


.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    box-shadow: 0 2px 2px 2px #ccc;
    z-index: 1;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: -18px;
    z-index: 7;
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;

}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img{
    width: 60%;
    display: initial;
}

.header__cart-list-no-cart-msg {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 25px; font-weight: 500;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #b71111;
}



/* Header_cart-list-item Hiển thị danh sách sản phẩm đã chọn-----------------in header */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    /* vh : view port height */
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}   

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);

}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex-grow: 1;
    padding-right: 16px;
    text-align: left;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-buy-wrap {

}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multipy {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-btnremove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-btnremove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #ccc;
}


/* Header Search-------------------- in header- */

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;

}
.header__search-form{
    border-radius: 2px;
    height: 100%;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color:#de3232 ;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 136px;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    
    padding: 8px 8px;
    /* text-align: right; */
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 2px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* .header__search-form:focus ~ .header__search-history {
    display: block;
} */

/* Search history --------------------------- in header----*/
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(197, 197, 197);
    display: none;
    overflow: hidden;
    z-index: 1;
}
/* .header__search-history::before {
    content: "";
    display: block;
    background-color: red;
    width: 100%;
    position: absolute;
    top: -4px;
    height: 10px;
} */
.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    /* Bỏ padding-left của ul */
    padding-left: 0;
    /* Bỏ margin-top-bottom mặc định của ul */
    margin: 6px 0 0;
    list-style: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

/* .header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* ----------------------------Css for App_container----------------------------------------------- */
/* ---------------------------------------------------------------------- */
.app_container {
    background-color: #f5f5f5;
}

.app_content {
    padding-top: 36px;
}

/* Col-2 danh mục sản phẩm--------------- */
.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    /* display: block; */
    position: absolute;
    top: 50%;
    left: 7px;
    border: 4px solid ;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 6px 20px;
    /* phải block mới padding được   */
    display: block;
    transition: right linear 0.1s;
    right: 0;
    cursor: pointer;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Col-10 Phần sản phẩm--------------------------------- */
/* Home sort + filter  */

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    background-color: var(--white-color);
    margin-right: 12px;
    min-width: 90%;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;  
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/*  Home product-item ------------------------------*/

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-wrapp {
    text-decoration: none;
}

.home-product-item__img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 4px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

/* Cách gọi css mạnh hơn ------------------------------*/
i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    /* font-weight: 300; */
}

.home-product-item__origin-brand {
    margin-right: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::before {
    content: "";
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
    position: absolute;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -1px;
}
.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
    position: relative;
    top: -10px;
}

/* Phần phần trang ----------------------------------------*/
.home-product__pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}

/* ----------------------Css Footer--------------------------------------- */
/* --------------------------------------------------------------------------- */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

/* Thường sẽ css vào thẻ a. Vì muốn thẻ a rộng ra tiện cho việc bấm */
.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__link--nopoiter {
    cursor: text;
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
    align-items: center;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #5e5e5e;
}

/* -------- Like & Dislike products */
.like {
    color: var(--primary-color);
}

.dislike {
    color: var(--white-color);
}