.modal__overlay {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/background_thanhtoan.jpg);
    background-position: center;
    background-size: cover;
	/*background-attachment: fixed;*/
	position: absolute;
}